@{
    var title = ViewData["Title"] ?? "Fleet Club Hotel El Gezirah – Official Website";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FC ElGezirah - @title</title>
    <link rel="icon" type="image/png" href="/images/logo1.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Noted.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- Quill CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Google Fonts -->
    <!-- Add this inside <head> -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top p-1" style="background-color: #241b46;">
        <div class="container-fluid mx-auto">

            <!-- Button: appears first on xs/sm, second on md+ -->
            <button class="navbar-toggler d-md-none me-auto" type="button" data-bs-toggle="collapse"
                id="navToggle" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Logo: appears second on xs/sm, first on md+ -->
            <a class="navbar-brand ms-md-0 ms-auto" href="/">
                <img src="/images/logo1.png" alt="logo" style="height:60px; width:60px;">
            </a>

            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 d-none d-md-flex">
                    <li class="nav-item">
                        <a href="/"
                            class="nav-link @(ViewContext.HttpContext.Request.Path == "/" ? "active" : "")">Home</a>
                    </li>
                    @* <li class="nav-item">
                        <a href="/news"
                            class="nav-link @(ViewContext.HttpContext.Request.Path == "/news" ? "active" : "")">News</a>
                    </li> *@
                    <li class="nav-item">
                        <a href="/roompage"
                            class="nav-link @(ViewContext.HttpContext.Request.Path == "/roompage" ? "active" : "")">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a href="/restaurants"
                            class="nav-link @(ViewContext.HttpContext.Request.Path == "/restaurants" ? "active" : "")">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a href="/halls"
                            class="nav-link @(ViewContext.HttpContext.Request.Path == "/halls" ? "active" : "")">Halls</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about"
                            class="nav-link @(ViewContext.HttpContext.Request.Path == "/about" ? "active" : "")">About</a>
                    </li>
                </ul>
                <a href="/admin/login" class="nav-link">Admin</a>
            </div>
            <div id="navOverlay" class="overlay-slide d-md-none">
                <ul class="overlay-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <a href="/"
                            class="overlay-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/roompage"
                            class="overlay-link">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a href="/restaurants"
                            class="overlay-link">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a href="/halls"
                            class="overlay-link">Halls</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about"
                            class="overlay-link">About</a>
                    </li>
                </ul>
                <div>
                    <div class="text-center">
                        <small>© 2025 Fleet Hotel ElGezirah. All rights reserved.</small>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    @* <div class="w-100 m-0 p-0"> *@
    <main role="main" class="w-100 m-0 p-0 flex-grow-1">
        @RenderBody()
    </main>
    @* </div> *@

    <footer class=" text-white py-4 mt-5" style="background-color: #241b46;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="m-2">Contact</h5>
                    <p class="m-1">Montazah Al Giza, Zamalek, Cairo Governorate</p>
                    <p class="m-1">02 27351399/ 27362615</p>
                    <a href="/about" target="_blank" class="text-white m-1">Contact Us</a>
                </div>

                <div class="col-md-4">
                    <h5 class="m-2">Links</h5>
                    <a href="https://www.facebook.com/fleetclubelgezirah/" target="_blank"
                        class="text-white m-1">Facebook</a> <br>
                    <a href="https://www.instagram.com/fleetclubelgezirah/?hl=en" target="_blank"
                        class="text-white m-1">Instagram</a> <br>
                    <a href="https://www.google.com/travel/search?q=FLEET%20CLUB%20EL%20GEZIRAH&g2lb=4899568%2C4899570%2C4965990%2C4969803%2C72302247%2C72317059%2C72414906%2C72471280%2C72472051%2C72485658%2C72560029%2C72573224%2C72616120%2C72647020%2C72686036%2C72760082%2C72803964%2C72832976%2C72882230%2C72887412%2C72958624%2C72959983%2C72990342%2C73059275%2C73064764%2C73071754%2C73076417%2C73080244&hl=en-EG&gl=eg&ssta=1&ts=CAEaKwopEicyJTB4MTQ1ODQxMDAwOGRlZGQxNToweGFkNjI0YWMwOTZjMjE4Yjc&qs=CAEyFENnc0l0N0dJdG9uWWtyR3RBUkFCOAI&ap=ugEHcmV2aWV3cw&ictx=111&ved=0CAAQ5JsGahcKEwiQ9brBmrWPAxUAAAAAHQAAAAAQBQ"
                        target="_blank" class="text-white m-1">Reviews</a>
                </div>
                @* <div class="col-md-4">
                    <a href="#" class="button1">Back to top</a>
                </div> *@
            </div>
            <hr class="bg-light">
            <div class="text-center">
                <small>© 2025 Fleet Club Hotel ElGezirah. All rights reserved.</small>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS (if not already included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Quill JS -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>